@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), url(../fonts/Lato.woff2) format('woff2');
  }

@font-face {
    font-family: 'LatoBold';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), url(../fonts/LatoBold.woff2) format('woff2');
  }

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display'), url(../fonts/PlayfairDisplay.woff2) format('woff2');
  }

@font-face {
  font-family: 'Playfair Display Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), url(../fonts/PlayfairDisplayRegular.woff2) format('woff2');
}
