.catalog {
  font-family: $catalog-font;
  .catalog-container {
    width: 80%;
    margin: 0 auto;

    h2 {
      font-size: 58px;
      color: #000;
      font-weight: normal;
      text-align: center;
      margin: 75px 0 25px;
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin: 0 auto 30px;
      padding: 0;
      font-weight: bold;
      li {
        list-style: none;
        a {
          display: block;
          text-decoration: none;
          border-bottom: 2px solid #fff;
          color: $head-color;

          &:hover {
            color: #000;
            border-bottom: 2px solid #1b81d8;
          }
        }
      }
    }

    .assortment-block {
      text-align: center;
      figure {
        display: inline-block;
        margin: 25px;
        font-size: 16px;
        a {
          display: block;
        }

        figcaption {
          color: #000;
          text-align: center;
          margin: 20px 0 5px 0;
        }

        .price-block {
          display: flex;
          justify-content: center;
          span {
            display: block;
            text-align: center;
            padding-right: 10px;
          }

          .through {
            text-decoration: line-through;
          }

          .red {
            color: #fc411d;
          }
        }
      }
    }

    .load {
      display: block;
      text-decoration: none;
      color: $head-color;
      text-align: center;
      margin: 50px;

      &:hover {
        color: #03a9f4;
        font-weight: bold;
      }
    }
  }
}
