footer {
  .menu-foot-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      margin: 0 auto;
      padding: 20px 0;

      .logo {
        display: block;
      }

      ul {
        display: flex;
        align-items: center;
        margin: 0;
        li {
          list-style: none;
          margin: 20px;
          a{
            display: block;
            text-decoration: none;
            color: #333333;
            border-bottom: 2px solid #fff;
            font-weight: bold;

            &:hover {
              border-bottom: 2px solid #1b81d8;
            }
          }
        }
      }
    }
}
